body {
  font-family: sans-serif;
  letter-spacing: 1px;
}

.swipe-tabs.container-fluid {
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .swipe-tabs.container-fluid {
    padding: 0 16px;
  }
}

.slick-initialized .swipe-tab-content {
  position: relative;
  min-height: 365px;
}
@media screen and (min-width: 767px) {
  .slick-initialized .swipe-tab-content {
    min-height: 500px;
  }
}
.slick-initialized .swipe-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border-right: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  outline: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.slick-initialized .swipe-tab:hover {
  color: #f1f1f1;
}
.slick-initialized .swipe-tab.active-tab {
  border-bottom-color: #7e7e7e;
  font-weight: bold;
}

.swipe-tabs, .swipe-tabs-container {
   color: #505050;
}

.swipe-tab-content {
  padding: 40px;
  background-color: #fff5c3;
}

.slick-initialized .swipe-tab {
  background-color: #7e7e7e;
}

.slick-initialized .swipe-tab.active-tab {
  background-color: #ff7260;
  color: #ffffff;
}

.slick-title {
  font-size: 28px;
  color: #ff7260;
}

.slick-title, .slick-caption {
  text-align: center;
}

